<div class="container" style="height: 15rem;padding: 1.5rem; text-align: center;">
    <h2 class="heading">Delete Task Confirmation</h2>
    <div>
        <p>Are you sure you want to delete this task</p>
    </div>
    <div class="d-flex" style="justify-content: center;">
        <button type="button" (click)="removeTask()" class="btn btn-danger" style="margin: 1rem;">Yes</button>
        <button type="button" (click)="close()" class="btn btn-primary" style="margin: 1rem;">No</button>
    </div>
</div>